<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.odianyun.internship.mapper.CodeMapper">
    <select id="listByCategory" resultType="CodeVO">
        select code, name
        from code
        where language = 'zh_CN'
        AND is_deleted = 0
        AND pool = #{pool}
        AND category = #{category}
    </select>
</mapper>